.markmap-wrap {
  position: relative;
  height: max-content;
  width: 100%;
}

.markmap-wrap.fullscreen {
  background: #ffffff;
}

.markmap-dark .markmap-wrap.fullscreen {
  background: #1a1a1a;
}

.markmap-wrap > svg {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.markmap-wrap.fullscreen > svg {
  height: 100%!important;
}

.mm-toolbar {
  position: absolute;
  right: .5em;
  bottom: .5em;
}